<h1>Login</h1>
<form method="post">
  <input class="input" name="email" placeholder="Email" />
  <input class="input" type="password" name="password" placeholder="Password" />
  <button type="submit">Submit</button>
</form>
